.date-recur-container-inline .label {
    display: inline-block;
    float: left;
    margin: 2px .5em 0 0;
}
.date-recur-container-inline .container-inline {
    float: left;
    margin-right: .5em;
}

.date-recur-widget {
    margin: 10px;
    padding: 0 10px;
    background: #f5f5f2;
    border: 1px solid #bfbfba;
    border-radius: 5px;
}

.date-recur-widget label:not(.inline) {
}

.date-recur-widget .container-inline,
.date-recur-widget .controls {
    margin: 10px 0;
}

.date-recur-widget .container-inline input,
.date-recur-widget .container-inline select {
    margin-left: 5px;
}
.date-recur-widget .container-inline label.inline {
    margin-right: 1em;
    font-weight: normal;
    width: auto;
}

.date-recur-widget .container-inline label:after {
    content: '';
}

.date-recur-widget .byweekday-pos-container {
    display: inline-block;
    position: relative;
    min-width: 100px;
}
.date-recur-widget .byweekday-pos-text {
    border-bottom: 1px dotted #008ee6;
    cursor: pointer;
}

.date-recur-widget .byweekday-pos-text:after {
    content: '▼';
    color: #008ee6;
    font-size: 11px;
    margin-left: 3px;
}

.date-recur-widget .byweekday-pos-input{
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    height: auto;
    background: #fff;
    border: 2px solid #008ee6;
    padding: 5px;
}

.date-recur-widget .byweekday-pos-input label {
    display: block;
}
